@import "./fonts.scss";

@import "./variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./navbar.scss";
@import "./components.scss";

@import "./pages/pricing.scss";

.fill-y { 
    min-height: 100%;
}

a.link {
    color: dodgerblue;
    transition: .2s;
}
a.link:hover { color: skyblue; }

.text-c-001 { color: $color-001; }
.bg-c-001 { background-color: $color-001; }

footer.container {
    font-size: small;
}