nav {
    height: 100px;
}

.hapter-navbar {
    min-width: 50%;
}
.hapter-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hapter-navbar ul li {
    cursor: pointer;
    transition: .2s;
}
.hapter-navbar ul li:hover {
    opacity: .8;
}