nav {
    height: 100px;
}

.h-navbar {
    position: fixed;
    width: 100%;
    height: fit-content;
    z-index: 5;
}

.hapter-navbar {
    min-width: 60%;
}
.hapter-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hapter-navbar ul li {
    cursor: pointer;
    transition: .2s;
}
.hapter-navbar ul li:hover {
    opacity: .8;
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
    .hapter-navbar {
        min-width: 50%;
    }
}