$primary: #4D3AC0;
$secondary: #FF7B00;
$success: #04BB00;
$warning: #FFC700;
$dark: #0B081B;

$color-001: #1A1437;
$color-002: #2a2252;
$color-003: #110C27;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1080px,
  xxl: 1280px
);